
{{#with view}}

{{view App.HeaderView 
  titleBinding="headerTitle" 
  subtitleBinding="subheaderTitle" }}

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span10">

        {{#view App.TapView}}
          Tap Once
        {{/view}}

        {{#view App.DoubleTapView}}
          Tap Twice
        {{/view}}

        <div class="clearfix"></div>

        {{#view App.TouchHoldView}}
          Touch and hold for 2 seconds with one finger
        {{/view}}

        {{#view App.DoubleTouchHoldView}}
          Touch and hold for 1 second with two fingers
        {{/view}}

    </div>
  </div>
</div>

{{/with}}
