/* states */
.is-green {
  background-color: lightgreen;
}

.is-border-highlighted {
  border: 4px solid red;
}

/* utils */

.space {
  height: 20px;
}

.space.is-code {
  height: 30px;
}


/* views */
.letter-swipe-view {

  font-size: 100px;
  line-height: 100px;
  text-align: center;
  background-color: lightblue;
}

.letter-swipe-view.is-big {
  font-size: 300px;
  line-height: 300px;

}

.letter-swipe-view.is-green {
  background-color: lightgreen;
}


.photo-canvas-view {
  height: 150px;

}

