.tap-view {
  height: 200px;
  width: 200px;
  background-color: lightblue;
  float: left;
  margin: 10px;
}

.is-green {
  background-color: lightgreen;
}

.letter-swipe-view {

  font-size: 100px;
  line-height: 100px;
  text-align: center;
  background-color: lightblue;
}

.letter-swipe-view.is-big {
  font-size: 300px;
  line-height: 300px;

}

.letter-swipe-view.is-green {
  background-color: lightgreen;
}
