.tap-view {
  height: 200px;
  width: 200px;
  background-color: lightblue;
  float: left;
  margin: 10px;
}

.is-green {
  background-color: lightgreen;
}

.pan-pinch-view {
  height: 300px;
  width: 300px;
}
