

<div id="home" class="tab-pane">
    <div class="hero-unit">

        <h1>Ember Touch</h1>
        <p>A lightweight library for building and
        using touch gestures with Ember Applications</p>

    </div>

    <div class="row-fluid">
        <div class="span4">
              <h2>Touch Ready</h2>
              <p>Use high-level gestures in your webapp to provide richer
                user experiences. Easily integrate native gestures such as
                Tap, TouchHold, Pinch, Swipe or Pan.</p>
        </div>

        <div class="span4">
          <h2>Create</h2>
          <p>Use an advanced API to recognize low-level touch events and create
            your own custom gestures.</p>
        </div>

        <div class="span4">
              <h2>Coordinate</h2>
              <p>Control the recognition of gestures with application logic. Browse the
                examples of coordination to learn more.</p>
        </div>
    </div>
</div>
