

<div id="home" class="tab-pane">
    <div class="hero-unit">

        <h1>Ember Touch</h1>
        <p>A lightweight library for building and
        using touch gestures with Ember Applications</p>

    </div>

    <div class="row-fluid">
        <div class="span6">
              <h2>Gestures</h2>
              <p>Use existing gestures as Tap,
              TouchHold, Pinch ... or create your own gestures.</p>
        </div>

        <div class="span6">
              <h2>Coordinate Gesture Recognition</h2>
              <p>Use gestureDelegates or application gesture
              manager to handle when your gestures are able to
              be recognized based on your application
              logic.</p>
        </div>
    </div>
</div>
