
<div class="alert alert-info">
  <p>You could manage a gesture recognition based on its <b>isEnabled</b> property. Toggle the button to change the <b>isEnabled</b> value and test the views at the right side.</p>
</div>


<div class="row-fluid">

  {{#view App.IsEnabledButtonView class="span6"
    isEnabledBinding="swipeIsEnabled"}}

    {{#if view.isEnabled}}
      Swipe gesture is enabled
    {{else}}
      Swipe gesture is disabled
    {{/if}}
  {{/view}}

  {{view App.IsEnabledLetterSwipeView class="span6"
    swipeIsEnabledBinding="swipeIsEnabled" }}

</div>

<div class="space"></div>

<div class="row-fluid">



  {{#view App.IsEnabledButtonView class="span6" 
    isEnabledBinding="panIsEnabled"}}
    {{#if view.isEnabled}}
      Pan gesture is enabled
    {{else}}
      Pan gesture is disabled
    {{/if}}
  {{/view}}

  {{view App.IsEnabledPanPhotoCanvasView class="span6"
    panIsEnabledBinding="panIsEnabled" }}

</div>
