

<div class="alert alert-info">
  <p>Pan in the left, pinch in the right.</p>
</div>


<div class="row-fluid">

    {{view App.PanPhotoCanvasView class="span6"}}

    {{view App.PinPhotoCanvasView class="span6"
      scale="0.5"}}

</div>


