

<div class="alert alert-info">
  <p>Pan with one finger. Pinch with two</p>
</div>


{{#view App.ExamplePanAndPinchView}}
  <canvas id="canvas"></canvas>
  <div class="row">
    <div class="span10">
      Picture source: <a href="http://www.flickr.com/photos/albaras/7856113180/">@albaras</a>
    </div>
  </div>
{{/view}}

