
<div class="alert alert-info">
  <p>You could configure a gesture to be able to be recognized simultaneously with other gestures or being the only one recognized at the same time with its <code>simultaneously</code> property. Test it in the PanGesture of the red box.</p>
</div>


<div class="row-fluid">
      {{view App.PanPhotoCanvasView class="span6"}}

      {{view App.NonSimultaneouslyPanPhotoCanvasView class="span6 is-border-highlighted"}}
</div>

<div class="space"></div>

<div class="row-fluid">
      {{view App.LetterSwipeView class="span6"}}

      {{view App.LetterSwipeView class="span6"}}
</div>

<div class="space is-code"></div>

<div class="row-fluid">

  <div class="span12">

    <span class="label label-info">Code</span>
    <pre>
App.NonSimultaneouslyPanPhotoCanvasView = App.PanPhotoCanvasView.extend({

  panOptions: {
    numberOfRequiredTouches: 1,
    <b>simultaneously</b>: false
  },

  panEnd: function(recognizer, evt) {
    App.get('gestureManager').<b>unblock</b>(this);
  },

  panCancel: function(recognizer) {
    App.get('gestureManager').<b>unblock</b>(this);
  }

});
    </pre>
  </div>
</div>
