
<div class="alert alert-info">
  <p>You could configure your gestures to be able to be recognized simultaneously with other gestures or being the only one recognized at the same time. Try it with  the <b>PanGesture of the red box</b>.</p>
</div>


<div class="row-fluid">
      {{view App.PanPhotoCanvasView class="span6"}}

      {{view App.NonSimultaneouslyPanPhotoCanvasView class="span6 is-border-highlighted"}}
</div>

<div class="space"></div>

<div class="row-fluid">
      {{view App.LetterSwipeView class="span6"}}

      {{view App.LetterSwipeView class="span6"}}
</div>
