
<div class="alert alert-info">
  <p>Swipe left and right on the letter and press the button. <code>SwipeGestureRecognizer</code> & <code>PressGestureRecognizer</code></p>
</div>

<div class="row-fluid">

  {{view App.LetterSwipeView class="span6"}}

  {{#view App.PressButtonView class="btn btn-primary btn-large pull-right"}}
    Press Button (minimum 1 s)
  {{/view}}

</div>

<div class="space is-code"></div>

<div class="row-fluid">

  <div class="span12">
    <span class="label label-info">Code</span>
    <pre>
App.LetterSwipeView = Em.View.extend({
  letter: 'A',

  <b>swipeOptions</b>: {
    direction: Em.OneGestureDirection.Left | Em.OneGestureDirection.Right,
    cancelPeriod: 100,
    swipeThreshold: 10
  },

  touchMove: function(event) {
    event.preventDefault();
  },

  <b>swipeEnd</b>: function(recognizer, evt) {
    var direction = recognizer.get('swipeDirection');

    if (direction === Em.OneGestureDirection.Right) {
      this.changeChar(1);
    } else if (direction === Em.OneGestureDirection.Left) {
      this.changeChar(-1);
    }
  }

});

App.PressButtonView = Em.View.extend({

  <b>pressOptions</b>: {
    pressPeriodThreshold: 1000
  },

  <b>pressEnd</b>: function () {
    this.toogleDisabled();
  }


});
    </pre>
  </div>
</div>

