
<div class="alert alert-info">
  <p>Perform button gestures and check how the <b>button disabled state</b> is toggled.</p>
</div>

<div class="row-fluid">

  <div class="span6">
    {{#view App.TapDisabledView class="btn btn-primary btn-large" }}
      Tap Once
    {{/view}}
  </div>

  <div class="span6">
    {{#view App.DoubleTapDisabledView class="btn btn-danger btn-large" }}
      Tap Twice
    {{/view}}
  </div>

</div>

<div class="space"></div>

<div class="row-fluid">

  <div class="span6">
    {{#view App.TouchHoldDisabledView class="btn btn-info btn-large"}}
      Touch and hold for 2 seconds with one finger
    {{/view}}
  </div>

  <div class="span6">
    {{#view App.DoubleTouchHoldDisabledView class="btn btn-warning btn-large"}}
      Touch and hold for 1 second with two fingers
    {{/view}}
  </div>
</div>
